.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
    height: 100px;
}

.nav-items{
    padding: 0px 20px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.res-logo{
    width: 250px;
    height: 250px;
}

.res-card{
    background-color: #f0f0f0;
    width: 250px;
    padding: 20px;
    cursor: pointer;
    margin: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    
}

.filter-container{
    display: flex;
    padding: 10px;
}

.filter-btn{
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
    border: 1px solid black;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    background-color: #f0f0f0;
    width: 250px;
    height: 400px;
    padding: 20px;
    margin: 5px;
}

.login-btn{
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
    border: 1px solid black;
    cursor: pointer;
}

.search-btn{
    margin: 5px;
    background-color: #f0f0f0;
    border: 1px solid black;
    cursor: pointer;
}